html,body{margin:0;padding: 0}
*{box-sizing: border-box;
	}
img{max-width: 100%}

body{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	background-color: #FFF;
}

h1{
	margin:25px 0;
	text-align: center;
}

.wrap{
	max-width: 900px;
	margin:auto;
}
.hinh{
	overflow: auto;
}
.col{
	width:33.33%;
	float: left;
	position: relative;
	padding:15px;
}

.thumb1, .thumb2{
	border: 1px solid grey;
}

.thumb1{
	transition: all 0.5s ease;
}

.thumb1:hover {
	transform: translate(0,-5px);
	box-shadow: 0 5px 5px 0 grey;
	
}

.thumb2{
	overflow: hidden;
}
.thumb2 img{
	transition: all 0.5s linear;
}

.thumb2:hover img{
	transform: scale(1.2);
}

@keyframes hieuung{
	0%  {opacity: 0;transform: translate(0px,0);}
	25%  {opacity: 0.25;transform: translate(100px,0);}
	50%  {opacity: 0.5;transform: translate(200px,0);}
	75%  {opacity: 0.75;transform: translate(300px,0);}
	100% {opacity: 0;transform: translate(450px,0);}

}
.footer{
	padding:10px;
	font-size:24px;
	animation: hieuung 5s linear infinite;
	position: absolute;
}