@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #202020;
    font-size: 16px;
    position: relative;
    right: 0
}
body {
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}
b,
strong {
    font-weight: 600
}
hr {
    border-top: 1px solid #b6b6b6
}
ol,
ul {
    padding-left: 18px
}
ol li {
    padding-left: 5px
}
a {
    text-decoration: none;
    font-weight: 400;
    transition: all .3s
}

p {
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 24px;
    margin-bottom: 15px
}

.bg-shop {
    background-color: #FFF0AA
}
section {
    position: relative;
    overflow: hidden
}
.img-responsive{
	margin:0 auto;
}
.pros{
	display: table;
	margin:0 auto;
}
.pros p{
	margin-bottom: 3px !important;
	text-align: left;
}
iframe, object, embed {
    max-width: 100%;
}
.header {
    text-align: center
}
.header h2 {
    font-size: 38px;
    font-weight: 400;
    display: block;
    margin-top: 0;
    text-transform: uppercase
}
.header p {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 60px
}
.padding-top {
    padding-top: 60px
}
.padding-bottom {
    padding-bottom: 60px
}
.padding-top-bottom {
    padding-top: 60px;
    padding-bottom: 60px
}
.nopadding {
    margin: 0!important;
    padding: 0!important
}
.color-text {
    color: #f7c723
}
.white-text {
    color: #FFF!important
}
.half-box-left {
    max-width: 555px;
    float: right;
    height: inherit;
    padding-right: 30px
}
@media (max-width: 1200px) {
    .half-box-left {
        max-width: 455px;
        padding-right: 30px
    }
}
@media (max-width: 992px) {
    .half-box-left {
        max-width: 345px;
        padding-right: 15px
    }
}
@media (max-width: 767px) {
    .half-box-left {
        max-width: 100%
    }
}
.half-box-right {
    max-width: 555px;
    float: left;
    height: inherit;
    padding-left: 40px
}
@media (max-width: 1200px) {
    .half-box-right {
        max-width: 455px;
        padding-left: 40px
    }
}
@media (max-width: 992px) {
    .half-box-right {
        max-width: 345px;
        padding-left: 30px
    }
}
@media (max-width: 767px) {
    .half-box-right {
        max-width: 100%
    }
}
.m-center {
    display: table;
    width: 100%
}
.m-center .center-box {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
    z-index: 60
}
.m-center>div>div {
    position: relative
}
.center-vertical {
    display: table;
    height: inherit
}
.center-vertical .center-vertical-box {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
    z-index: 60;
    height: inherit
}

.menu-open {
    overflow: hidden
}
#menu-link {
    position: fixed;
    top: 18px;
    height: 50px;
    width: 50px;
    z-index: 200;
    border-radius: 50%;
    left: 5%;
    background-color: #202020
}
#menu-link.is-clicked {
    background-color: #f7c723;
    color: #202020
}
#menu-link .menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    width: 18px;
    height: 2px;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
#menu-link:hover .menu-icon {
    background-color: #f7c723
}
#menu-link .menu-icon::after,
#menu-link .menu-icon::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s
}
#menu-link .menu-icon::before {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px)
}
#menu-link .menu-icon::after {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px)
}
#menu-link.is-clicked .menu-icon {
    background-color: rgba(255, 255, 255, 0)
}
#menu-link.is-clicked .menu-icon::after,
#menu-link.is-clicked .menu-icon::before {
    background-color: #fff;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s
}
#menu-link.is-clicked .menu-icon::before {
    background-color: #202020;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
#menu-link.is-clicked .menu-icon::after {
    background-color: #202020;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.overlay {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    overflow: hidden;
    z-index: 100
}
.overlay.open {
    opacity: .9;
    visibility: visible;
    width: 100%;
    overflow: hidden
}
.overlay nav {
    position: relative;
    height: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 32px;
    font-weight: 400;
    text-align: center
}
.overlay nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%
}
.overlay nav ul li {
    display: block;
    height: 20%;
    height: -webkit-calc(14.28571429%);
    height: calc(14.28571429%);
    min-height: 32px;
    position: relative
}
.overlay nav ul li a {
    display: block;
    position: relative;
    color: #fff;
    overflow: hidden
}
.overlay nav ul li a:hover {
    text-decoration: none
}
.overlay nav ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    height: 3px;
    width: 100%;
    background: #f7c723;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}
.overlay nav ul li a:hover:after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}
.btn {
    position: relative;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 0 35px;
    margin: 0 10px 15px 0;
    color: #202020;
    background: #f7c723;
}

.btn i.fa {
    padding-right: 10px
}
.btn b {
    font-size: 26px;
    line-height: 48px;
    vertical-align: bottom;
    padding: 0 10px 0 0
}
.btn span {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 0 0 5px 5px
}
.btn.white {
    background: #FFF;
    color: #202020;
    text-decoration: none;
}

#hero {
    height: 500px !important;
}
#hero .hero-unit {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: transparent
}
#hero .hero-unit h1 {
    font-size: 70px;
    font-weight: 200;
    margin-top: 70px
}
#hero .hero-start-link,
#hero .hero-start-link:focus {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -19px;
    margin-bottom: 15px!important;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #202020;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #202020
}
#hero .hero-start-link:focus:hover,
#hero .hero-start-link:hover {
    color: #f7c723;
    text-decoration: none
}

@media (max-width: 767px) {
    #hero .img-hero {
        margin-top: 30px
    }
}
.content-1 .white-box {
    background-color: rgba(255, 255, 255, .85);
    padding: 50px
}
.content-1 h2 {
    margin: 0 0 20px 0
}
.content-1 .btn {
    margin-top: 20px;
    margin-bottom: 0
}


.features-1 article {
    margin: 0 0 60px 0;
    padding: 0 10px
}
.features-1 article .fa {
    font-size: 32px;
    color: #d486f7
}
.features-1 article h3 {
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin: 12px 0 13px 0
}
.features-1 article p {
    font-size: 15px;
    color: #202020
}

.footer-1 {
    background-color: #1d2023;
    padding: 80px 0 70px 0;
    color: #b6b6b6;
    overflow: visible
}

.footer-1 .back-to-top {
    width: 52px;
    height: 52px;
    line-height: 45px;
    margin: -78px auto 26px;
    display: block;
    font-size: 28px;
    text-align: center;
    background: #f7c723;
    color: #fff;
    border-radius: 26px;
    position: relative;
    top: -30px
}
.footer-1 .back-to-top:hover {
    color: #202020
}


.numbers-1 h2 {
    font-size: 48px;
    font-weight: 600;
    color: #d486f7
}
.numbers-1 h4 {
    font-weight: 600
}
.numbers-1 .numbers-item {
    padding: 20px 0 30px 0
}


.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%)
}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: #000
}
.bg-white {
    background-color: #fff
}
.bg-black {
    background-color: #000
}
.bg-dark {
    background-color: #202020
}
.bg-turquoise {
    background-color: #1abc9c
}
.bg-green-sea {
    background-color: #16a085
}
.bg-emerland {
    background-color: #2ecc71
}
.bg-nephritis {
    background-color: #27ae60
}
.bg-peter-river {
    background-color: #3498db
}
.bg-belize-hole {
    background-color: #2980b9
}
.bg-amethyst {
    background-color: #9b59b6
}
.bg-wisteria {
    background-color: #8e44ad
}
.bg-wet-asphalt {
    background-color: #34495e
}
.bg-midnight-blue {
    background-color: #2c3e50
}
.bg-sun-flower {
    background-color: #f1c40f
}
.bg-orange {
    background-color: #f39c12
}
.bg-carrot {
    background-color: #e67e22
}
.bg-pumpkin {
    background-color: #d35400
}
.bg-alizarin {
    background-color: #e74c3c
}
.bg-pomegranate {
    background-color: #c0392b
}
.bg-clouds {
    background-color: #ecf0f1
}
.bg-silver {
    background-color: #bdc3c7
}
.bg-concrete {
    background-color: #95a5a6
}
.bg-asbestos {
    background-color: #7f8c8d
}
.bg-base {
    background-color: #34495e
}
.bg-firm {
    background-color: #1abc9c
}
.bg-success {
    background-color: #2ecc71
}
.bg-danger {
    background-color: #e74c3c
}
.bg-warning {
    background-color: #f1c40f
}
.bg-info {
    background-color: #3498db
}
#style-switcher {
    background-color: #fff;
    width: 162px;
    position: fixed;
    top: 222px;
    z-index: 99999;
    border-radius: 0 0 3px;
    left: -163px;
    border: 1px solid #e4e4e4;
    border-left: 0;
    border-top: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    outline: 0;
    padding-bottom: 10px;
    overflow: visible;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
#style-switcher.open {
    left: -1px
}
#style-switcher div {
    padding: 3px 18px 5px
}
#style-switcher h2 {
    background-color: #F5F5F5;
    color: #202020;
    outline: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 0 13px;
    margin: 0;
    line-height: 43px
}
#style-switcher h2 a {
    background-color: #F5F5F5;
    display: block;
    outline: 0;
    height: 43px;
    position: absolute;
    right: -43px;
    font-size: 18px;
    text-align: center;
    color: #202020;
    top: 0;
    width: 43px;
    text-decoration: none;
    border-radius: 0 3px 3px 0;
    line-height: 46px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .08)
}
#style-switcher ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px
}
#style-switcher ul li {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    float: left;
    border-radius: 50%;
    cursor: pointer
}
#style-switcher ul li:hover {
    border: 2px solid #202020
}
#style-switcher ul #yellow {
    background: #F7C723
}
#style-switcher ul #purple {
    background: #D486F7
}
#style-switcher ul #turquoise {
    background: #2fe6ce
}
#style-switcher ul #blue {
    background: #29D2E4
}
#style-switcher ul #red {
    background: #F25D9C
}
#style-switcher ul #brown {
    background: #B3A78C
}